@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#main-header {
  border-top:3px solid #ff7a59;
}


#main-nav {
  background:#102d4a;
}


#main-nav .dropdown-menu {
    top: 110%;
    border-radius: 0;
    background: #122c4c;
    border-top: 2px solid #fb7c51;
}


#main-nav .dropdown-menu .dropdown-item {
    font-weight: 200;
    font-size: 14px;
    color:#b7c1ce;
}

#main-nav .dropdown-menu .dropdown-item:hover {
  background:#18283c;
}



#main-nav .nav-link {
  background:#102d4a;
  font-size: 14px;
}

.body-content .top-section {
  border-bottom:1px solid #eaeaea;
  padding: 40px 0;
  background:#f9f9f9;
}

.body-content .top-section .page-heading {
  color:#122c4c;
  font-size: 24px;
  font-weight: 400;
  margin:0;
}

.body-content .main-content {
  padding:30px 0;
}


#main-footer {
  border-top:1px solid #ccc;
  padding:10px 0;
  font-size: 0.8em;
}

#main-footer a {
  color:#fb7c51;
}


/* Pricing */

/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT     
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }

.section-header {
  margin-bottom: 30px;
}
.section-header h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 20px auto 5px;
  text-align: center;
  text-transform: uppercase;
}
.section-header h6 {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.feature {
  box-shadow: 3px 3px 4px -3px #ececec;
  margin-bottom: 30px;
  padding:10px 15px;
}
.feature-icon i {
  font-size: 48px;
  margin-bottom: 10px;
}
.feature h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.feature p {
  color: #111;
  font-size: 14px;
  line-height: 20px;
}
